{% extends "base.html" %}

{% block content %}

    <main class="container">
        <h2>✏️ Форма Регистрации</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required placeholder="Введите ваше имя">
            </div>
            
            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input type="tel" id="phone" name="phone" required placeholder="+7 (XXX) XXX-XX-XX">
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="pochta@example.com">
            </div>
            
            <div class="form-group" style="text-align: center; margin-top: 30px;">
                <button type="submit" class="button">Зарегистрироваться</button>
            </div>
        </form>
    </main>



{% endblock content %}
