{% extends "base.html" %}

{% block content %}
    <main class="container">
        <h2>📋 Список Зарегистрированных Пользователей</h2>

        <table class="user-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}  {# начинаем цикл по списку пользователей, users берётся из context во view #}
                    <tr>  {# создаём новую строку таблицы для каждого пользователя #}
                        <td>{{ user.name }}</td>  {# ячейка таблицы с именем пользователя #}
                        <td>{{ user.phone }}</td> {# ячейка таблицы с телефоном пользователя #}
                        <td>{{ user.email }}</td> {# ячейка таблицы с почтой пользователя #}
                    </tr>  {# конец строки таблицы для текущего пользователя #}
                {% endfor %}  {# конец цикла for, когда пройдены все пользователи из users #}
            </tbody>


        </table>

        {% if not users %}
            <p style="text-align: center; margin-top: 20px;">пока нет зарегистрированных пользователей.</p>
        {% endif %}

    </main>



{% endblock %}
