{% extends "base.html" %}

{% block content %}
    <main class="container">
        <h2>📋 Список Зарегистрированных Пользователей</h2>

        <table class="user-table">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        {% if not users %}
            <p style="text-align: center; margin-top: 20px;">пока нет зарегистрированных пользователей.</p>
        {% endif %}

    </main>

    <footer>
        &copy; 2025 Проект "Фронтенд-Скелет" для Бекенда. Все права защищены.
    </footer>

{% endblock %}
